.shoppingcart {
    display: block;
    position: fixed;
    top: 5px;
    right: 100px;
    cursor: pointer;
}

.shoppingcart svg {
    display: inline;
}

.shoppingcart .count {
    display: inline;
    position: absolute;
    margin-left: 10px;
    white-space: nowrap;
}

.buybutton {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.buybutton:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
    .buybutton {
        display: block;
        margin: 0.2em auto;
    }
}